@model EDMSModel.StudentDetailModel

@{
    ViewBag.Title = "StudentDetailList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int counter = 1;
}




<div class="title clearfix">
    <h3>StudentDetail </h3>
</div>
<button id="StudentDetailCreate" class="btn btn-add pull-right"><i class="fa fa-plus"></i> Add New</button>
<div class="clearfix"></div>

<div id="pop-up-div" class="modal fade" role="dialog">
</div>
<div class="content-table">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.StudentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Contact)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RegNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Class)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.StudentDetailList)
                {
                    <tr>
                        <td>
                            @counter <a href="#" onclick="CreateNewFormCategory('@item.StudentId')"><i class="fa fa-edit"></i></a>
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contact)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Class)
                        </td>



                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>
</div>

<div id="student-admit-card-div"></div>

<script>

    $('#StudentDetailCreate').on('click', function () {
        CreateNewFormCategory()
    });

    function CreateNewFormCategory(id) {
        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/StudentDetail/CreateEditStudentDetail")',
            data: { StudentId: id },
            success: function (result) {
                $('#pop-up-div').html(result).modal({
                    'show': true,
                    'backdrop': 'static',
                    'draggable': true
                })

            },
            error: function () {

            }
        });
    }


</script>
